@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #212121;
	font-size:17px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	text-align:center;
	font-size:60;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
}



p {
	text-align: center;
}

img{
    max-height: 400px;
	max-width: 98%;
    margin: auto 0 auto 0;
	position: relative;
	top: 5px;
}
button{
	cursor: pointer;
}

.container{
	display: grid;
	max-width: 80%;
	margin: auto;
}
.flex{
	display: flex;
	margin: auto;
}
.content{
	width: 90%;
	margin: auto;
	text-align: center;
	background-color: #616161;
	margin-top: 20px;
	

}
.btn{
	font-size: 1.8em;
	width: 100%;

}

.card{
	max-width: 500px;
    flex: 0 0 auto;
    display: inline-block;
	padding-bottom:0px;
	height: min-content;
}

.flex{
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;

}