{% extends 'base.html.twig' %}

{% block title %}home | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container">
        <div class=" dark">
            <h1>Api_images</h1>
        </div>
        <div class=" light">
            <p class="p-5">
                Utilise des images aléatoires pour tes constructions de sites
            </p>
        </div>

        <div class="content dark">
            <h1>Simple à utiliser</h1>
        </div>

        <div class="content light">
            <p class="p-5">pour génerer une image aléatoire :</p>
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo</button>
            <img src="https://127.0.0.1:8000/photo">
        </div>
        
        <div class="content dark">
            <h1 class="p-5">Pour trier par catégorie :</h1>
            <p>Ajoute un tag : </p>
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/food</button>
            <img src="https://127.0.0.1:8000/photo/food">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/tech</button>
            <img src="https://127.0.0.1:8000/photo/tech">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/nature</button>
            <img src="https://127.0.0.1:8000/photo/nature">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/clothes</button>
            <img src="https://127.0.0.1:8000/photo/clothes">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/car</button>
            <img src="https://127.0.0.1:8000/photo/car">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/abstract</button>
            <img src="https://127.0.0.1:8000/photo/abstract">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/animal</button>
            <img src="https://127.0.0.1:8000/photo/animal">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/fruit</button>
            <img src="https://127.0.0.1:8000/photo/fruit">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/furniture</button>
            <img src="https://127.0.0.1:8000/photo/furniture">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/music</button>
            <img src="https://127.0.0.1:8000/photo/music">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/plant</button>
            <img src="https://127.0.0.1:8000/photo/plant">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/spectacle</button>
            <img src="https://127.0.0.1:8000/photo/spectacle">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/sport</button>
            <img src="https://127.0.0.1:8000/photo/sport">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/city</button>
            <img src="https://127.0.0.1:8000/photo/city">
        </div>
        <div class="content light">
            <button class="btn primary" data-copy-link>www.api_images/photo/work</button>
            <img src="https://127.0.0.1:8000/photo/work">
        </div>
    </section>
    <section class="container">
        <div class="content light">
            <h1>Pour avoir des images différentes</h1>
        </div>
        <div class="content light">
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/1</button>
                <img src="https://127.0.0.1:8000/photo/food/1">
           </div>
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/2</button>
                <img src="https://127.0.0.1:8000/photo/food/2">
           </div>
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/3</button>
                <img src="https://127.0.0.1:8000/photo/food/3">
           </div>
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/4</button>
                <img src="https://127.0.0.1:8000/photo/food/4">
           </div>
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/5</button>
                <img src="https://127.0.0.1:8000/photo/food/5">
           </div>
           <div class="content">
                <button class="btn primary" data-copy-link>www.api_images/photo/food/6</button>
                <img src="https://127.0.0.1:8000/photo/food/6">
           </div>
        </div>
    </section>
{% endblock %}
