{% extends 'base.html.twig' %}

{% block title %}login | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container">
        <form action="{{path('login')}}"  method="POST" class="field">
            <h1>Se connecter</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security')}}
                </div>
            {% endif %}
            <input type="text" id="username" class="field input" name="_username" value="{{ lastUsername }}" placeholder="Email" autofocus/>
            <input type="password" id="password" class="field input" name="_password" placeholder="password"/>
            
            <button type="submit" class="btn primary input">Se connecter</button>
            
        </form>
    </section>
{% endblock %}
